Repository aws/random-cut-forest-by-aws, pull requests merged in 2021-06, with the labels that each got.

#229 Remove alternative constructors from classes with builders
  Java/benchmark/src/main/java/com/amazon/randomcutforest/ForestUpdateExecutorBenchmark.java
  Java/benchmark/src/main/java/com/amazon/randomcutforest/SamplingTreeBenchmark.java
  Java/core/src/main/java/com/amazon/randomcutforest/RandomCutForest.java
  Java/core/src/main/java/com/amazon/randomcutforest/sampler/CompactSampler.java
  Java/core/src/main/java/com/amazon/randomcutforest/sampler/SimpleStreamSampler.java
  Java/core/src/main/java/com/amazon/randomcutforest/state/RandomCutForestMapper.java
  Java/core/src/main/java/com/amazon/randomcutforest/tree/AbstractRandomCutTree.java
  Java/core/src/main/java/com/amazon/randomcutforest/tree/CompactRandomCutTreeDouble.java
  Java/core/src/main/java/com/amazon/randomcutforest/tree/CompactRandomCutTreeFloat.java
  Java/core/src/main/java/com/amazon/randomcutforest/tree/RandomCutTree.java
  Java/core/src/test/java/com/amazon/randomcutforest/sampler/CompactSamplerTest.java
  Java/core/src/test/java/com/amazon/randomcutforest/sampler/SimpleStreamSamplerTest.java
  Java/core/src/test/java/com/amazon/randomcutforest/sampler/StreamSamplerTest.java
  Java/core/src/test/java/com/amazon/randomcutforest/state/sampler/CompactSamplerMapperTest.java
Labels: language:java

#217 [Rust] Create a Visitor trait to abstract out scoring algorithms
  Rust/src/lib.rs
  Rust/src/random_cut_forest.rs
  Rust/src/sampled_tree.rs
  Rust/src/tree/mod.rs
  Rust/src/tree/tree.rs
  Rust/src/visitor/anomaly_score_visitor.rs
  Rust/src/visitor/mod.rs
  Rust/src/visitor/visitor.rs
Labels: language:rust

#218 [Rust] Add example CLI script on CSV input
  Rust/Cargo.toml
  Rust/README.md
  Rust/examples/streaming_anomaly_scoring.rs
Labels: enhancement, good first issue, language:rust

#246 [Rust] Add output_after threshold to RCF
  Rust/src/random_cut_forest.rs
Labels: language:rust
